/a_notes/
/.env
/datasets/not_using/
/scripts/test_scripts/
/.idea/
/datasets/AQuA-RAT/unprocessed_data/
/datasets/LastLetterConcat/unprocessed_data/
/datasets/MATHQA/unprocessed_data/
/datasets/MMLU/unprocessed_data/
/datasets/RiddleSense/unprocessed_data/
/datasets/TheoremaQA/unprocessed_data/
