loguru
tqdm
openai
dataclasses-json
python-dotenv
requests
torch # torchvision torchaudio --index-url https://download.pytorch.org/whl/rocm6.3
transformers
einops
sentencepiece
protobuf
accelerate
google-genai # pip install -q -U google-genai